@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wanted Sans Font */
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

:root {
  --background-main: #0F1114;
  --text-main: #F4F4F5;
}

html,
body {
  color: var(--text-main);
  background-color: var(--background-main);
  font-family: 'Wanted Sans', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
